<div class="container" ng-init="init()">
    <h3>لیست ساعت ها</h3>
    <hr />
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="watch in watches">
            <div class="card" style="height:500px">
                <img class="card-img-top" src="{{watch.MainImagePath}}" style="height:250px">
                <div class="card-body">
                    <h5 class="card-title">{{watch.Name}} <span ng-if="watch.Brand.Name.length!=0">- {{watch.Brand.Name}}</span></h5>
                    <p class="card-text" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{watch.Description}}</p>
                    <p>قیمت : {{watch.Price}}</p>
                    <a class="btn btn-primary" ng-click="openWatchDetailDialog()" style="color:white;position:absolute;bottom:10px">جزئیات</a>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <ul uib-pagination
            first-text="ابتدا"
            last-text="انتها"
            next-text="بعدی"
            previous-text="قبلی"
            ng-disabled="watchesPagination.loading"
            items-per-page="watchesPagination.pageSize"
            total-items="watchesPagination.count"
            boundary-links="true"
            max-size="watchesPagination.maxSize"
            rotate="false"
            force-ellipses="true"
            ng-model="watchesPagination.pageNumber"
            ng-change="watchesPagination.pageChanged()"
            style="direction:ltr;margin:10px auto"></ul>
    </div>
</div>