body {
    direction: rtl !important;
    text-align: right !important;
    background-color: #EEE !important;
}

div.order-lg-first > ul.nav.nav-tabs {
    direction: rtl;
}

@font-face {
    font-family: 'B Roya';
    src: url('../fonts/PersianFont/B Roya.ttf') format('truetype');
}

*:not(.fa) {
    font-family: 'B Roya' !important;
}

div.dropdown-menu {
    text-align: right;
}

div#chart-development-activity {
    padding: 20px !important;
}

#siteName {
    font-family: Georgia !important;
}

button[disabled="disabled"] {
    cursor: not-allowed;
}

.dropzone {
    height: auto;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.rounded {
    width: 100%;
    height: 300px;
}

.profile-info-header {
    display: block;
}

    .profile-info-header :last-child {
        cursor: pointer;
        float: left;
    }
